body, div, ul, li, span, p, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}
.header {
	width: 100%;
	height: 30px;
	background-color: #444444;
}

.header .menu {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 30px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	background-color: #555555;
}

.header .menu li {
	float: right;
	padding: 6px;
	color: #aaaaaa;
	min-width: 50px;
	margin-left: 1px;
	margin-right: 1px;
}

.header .menu li:hover {
	color: #0088aa;
	background-color: #333333;
}


.body {
	width: 870px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #eeeeee;
}

.body .highlight {
	font-family: Arial, "MS Trebuchet", sans-serif;
	margin-bottom: 20px;
}

.body .highlight h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.body .button {
	display: block;
	width: 120px;
	height: 26px;
	background-color: #006688;
	color: #aaaaaa;
	text-align: center;
	padding-top: 9px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-decoration:  none;
}

.body .button:hover {
	background-color: #00aaff;
	color: #555555;
}

.body .calendar {
	font-family: Arial;
	font-size: 9px;
}

.body .calendar .month {
	margin-bottom: 4px;
}

.body .calendar .month .name {
	float: left;
	width: 40px;
	font-weight: bold;
	padding-top: 2px;
}

.body .calendar .month .day {
	float: left;
	width: 9px;
	height: 9px;
	border: 1px solid #999;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 4px;
}

.body .calendar .month .day a {
	text-decoration: none;
	display: block;
	color: #000;
}

.body .calendar .month .day:hover {
	background-color: #ff0;
}

.body .calendar .month .ghost a {
	color: #aaa;
}

.body .calendar .month .weekend {
	background-color: #aff;
}

.body .calendar .month .week-day {
	float: left;
	width: 17px;
	height: 17px;
	border: 1px solid #eee;
	margin-right: 1px;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 15px;
	background-color: #444444;
}

.footer .panel {
	width: 870px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #555555;
}

.footer .panel marquee {
	width: 870px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 14px;
	
	color: #bbbbbb;
	height: 15px;
}

.fade-layer {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	background-color: #000;
	opacity: 0.5;
  	filter: alpha(opacity=50);
}

.login-popup {
	display: none;
	position: fixed;
	top: 80px;
	left: 30%;

	width: 320px;
	height: 255px;
	padding: 40px;

	background-color: #fff;

	font-family: Arial;
	font-weight: normal;
}

.login-popup .panel {
	border-bottom: 1px dashed #777;
	height: 45px;
}

.login-popup .title {
	float: left;
	font-size: 30px;
	padding-bottom: 10px;

	margin-bottom: 20px;
	width: 140px
}

.login-popup .input-label {
	display: block;
	font-size: 17px;

	margin-top: 10px;
	margin-bottom: 5px;
}

.login-popup .input-text {
	font-size: 17px;
	border: 1px solid #777;
	width: 320px;
	height: 30px;

	color: #777;

	padding-left: 5px;
	padding-right: 5px;

	margin-bottom: 10px;
}

.login-popup .button {
	display: block;
	float: right;
	width: 60px;
	height: 24px;
	font-size: 17px;

	text-decoration: none;
	color: #000;
	border: 1px solid #777;
	padding-top: 6px;
	text-align: center;
	margin-top: 5px;
}

.login-popup .button:hover {
	background-color: #aff;
}

.login-popup .info {
	font-size: 12px;
	margin-top: 5px;
}

.login-popup .facebook-button {
	display: block;
	float: left;
	width: 180px;
	height: 30px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3B5998;
	color: #fff;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	font-family: tahoma;
	font-size: 15px;
}

.login-popup .close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	border: 1px solid #777;
	text-align: center;
	text-decoration: none;
	color: #555;
}

.login-popup .close:hover {
	background-color: #00aaff;
	color: #555555;
}